<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>testing nodejs html</h1>
    <p>creating a to do list application</p>
  </body>
</html>
